annotated-types
anyio
certifi
click
databases[aiosqlite]
fastapi
h11
httpcore
httptools
httpx
idna
iniconfig
packaging
pluggy
pydantic
pydantic_core
pydantic_settings
pytest
python-dotenv
PyYAML
sniffio
sqlalchemy
starlette
typing_extensions
uvicorn
uvloop
watchfiles
websockets
